section {
    opacity: 0;

    scale: 0.9;
    transition: all ease-in 1000ms;
}
section.show {
    opacity: 1;

    scale: 1;
    transition: all ease-in-out 2000ms;
}

.sec1 {
    // background-image: url('./logoname.png');
    // background-repeat: no-repeat;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size: contain;
    &::after {
        content: "";
        position: absolute;
        background-image: url("./logoname.png");
        background-repeat: no-repeat;
        left: -50px;
        background-position: top 100px center;

        z-index: -1;
        width: 100%;
        height: 100%;
        background-size: contain;
        opacity: 0.1;
    }

    .top-sec1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 90%;
        .right-sec1 {
            flex: 1;
            position: relative;
            width: 100%;
            height: 100%;
            img {
                object-fit: fill;
                max-width: clamp(650px, 1000px, 600px);
                position: absolute;
                top: 16%;
                left: 1%;
                scale: 1.3;
            }
        }
        .left-sec1 {
            flex: 0.8;
            z-index: 2;
            padding-top: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 20px;
        }
    }
    .footer-sec1 {
        line-height: 10px;

        text-align: center;
        margin: auto;
    }
}

.sec2 {
    /* width: 100%; */
    /* flex: 1; */
    /* display: block; */
    height: 100%;
    h2 {
        grid-area: 1/1 / span 1 / span 2;
        /* justify-items: right; */
        text-align: center;
        white-space: break-spaces;
    }
    b {
        font-size: 66px;
        color: $clr4;
    }
}
section.videos {
    display: flex;

    align-items: center;
    gap: 50px;
    .video-wrapper {
        max-width: 80%;
        width: 900px;
        height: fit-content;
        max-height: 69vh;
        flex: 2;

        video#dyson {
            width: 60vw;
            object-fit: cover;
            border-radius: 6px;
            box-shadow: 1px 1px 18px 2px rgb(0 0 0 / 40%);
            height: 520px;
        }
        .content-vid {
            flex: 3;
        }
    }
}
