.card {
    max-width: 630px;
    max-height: 380px;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: $clr3;
    padding-block-start: 20px;
}

.inner-wrapper {
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    width: 100%;
    .content {
        max-width: 35vw;
    }
}
.strip {
    background: $clr5;
    width: 27vw;
    border-radius: 50px 0 0 50px;
    padding: 18px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-block-end: 35px;
}
