.card {
    max-width: 630px;
    height: 350px;
    width: 100%;

    position: relative;
    background-color: $clr3;
    padding-block-start: 20px;
    img {
        width: 450px;
        object-fit: fill;
    }
    .img-product {
        z-index: 0;
        /* background: #ff000000; */
        position: absolute;
        top: 0;
        left: 0px;
    }
}

.inner-wrapper {
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    width: 100%;
    .content {
        max-width: 22vw;
        padding: 20px 20px 0px;
        font-weight: 100;
        font-size: 20px;
    }
}
.strip {
    background: $clr5;
    width: 27vw;
    border-radius: 50px 0 0 50px;
    padding: 18px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-block-end: 1px;
}
