.flex {
  display: flex;
}
.flex-wrap{
  flex-wrap: wrap;
}

.flex.column{
  flex-direction: column;
}

.flex.align-center{
  align-items: center;
}

.flex.justify-center{
  justify-content: center;
}

.flex.space-around{
  justify-content: space-around;
}

.overflow-hidden{
  overflow: hidden;
}

.box-radius{
  border-radius: 6px;
}