* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #23232F;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.in-stock {
  color: rgb(50, 194, 50);
}
.out-of-stock {
  color: rgb(194, 50, 50);
}
