.flex {
  display: flex;
}

.flex.column{
  flex-direction: column;
}

.flex.align-center{
  align-items: center;
}

.flex.justify-center{
  justify-content: center;
}

.flex.space-around{
  justify-content: space-around;
}
